# Byte-compiled / optimized / DLL files
__pycache__/
*__pycache__/
**__pycache__/
.DS_Store
.vscode
*.pyc
**.pyc
dist/
panbox.egg-info/
COVID-19.ipynb
.ipynb_checkpoints/

readmeaws.md
READMEsizelimit.md
READMEsh.md

# **utils/Research/
**utils/Videos/